:root {

    /* Colors */
    --bg-primary-color: #030526;
    --bg-secondary-color: #071540;
    --purple-color: #8149A6;
    --pink-color: #D98BB6;
    --burgundy-color: #8C3545;

    --text-color: #fafafa;
}
